<body>

    <div id="content-wrapper">
        <div id="moneyStats" class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Cash Available</h3>
                        <h5 id="cashAvailable" class="card-text"></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio Worth</h3>
                        <h5 id="portfolioWorth" class="card-text"></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Total Profit/Loss</h3>
                        <h5 id="gains" class="card-text"></h5>
                    </div>
                </div>
            </div>
        </div>
        <hr class="coinHolderTop" />
        <h6 class="text-center">Coin Holdings</h6>
        <div class="row text-center">
            <div class="col-sm ticker">
                <h6 id="btc"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="ltc"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="xrp"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="xlm"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="eth"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="miota"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="eos"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="bch"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="trx"></h6>
            </div>
            <div class="col-sm ticker">
                <h6 id="ada"></h6>
            </div>
        </div>

        <hr class="coinHolderBottom" />

        <div class="row">
            <div id="purchasedCryptos" class="col-4">
                <button id="populateTransactions" class="btn btn-primary">See Transactions</button>

            </div>
            <div class="col-8">
                <div class="row justify-content-center text-center">
                    <div class="col">
                        <h2>Select currency:</h2>
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col">
                        <div class="form-group coindrop align-self-center">
                            <select class="form-control" id="coinDropdown">
                                <option value="1">Bitcoin</option>
                                <option value="2">Litecoin</option>
                                <option value="52">Ripple</option>
                                <option value="512">Stellar</option>
                                <option value="1027">Ethereum</option>
                                <option value="1720">IOTA</option>
                                <option value="1765">EOS</option>
                                <option value="1831">Bitcoin Cash</option>
                                <option value="1958">TRON</option>
                                <option value="2010">Cardano</option>
                            </select>
                        </div>
                        <div id="coinIcon"></div>
                        <div id="coinName"></div>
                        <div id="coinPrice"></div>

                        <div class="form-group">
                            <div class="container">
                                <label for="example-number-input" class="col-form-label">Amount to purchase:</label>
                                <div class="coinamount">
                                    <input class="form-control" type="number" step="any" id="coinAmount">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-sm">
                                <button class="btn btn-primary float-right" id="buyTransaction">Buy</button>
                            </div>
                            <div class="col-sm">
                                <button class="btn btn-danger float-left" id="sellTransaction">Sell</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 




    <script src="assets/js/dashboard.js"></script>
</body>