#moneyStats {
    height: 80px;
}

.ticker {
    max-height: 20px;
}

hr.coinHolderTop {
    margin-top: 35px;
    margin-bottom: 0px;
    padding-top: 5px;
}

hr.coinHolderBottom {
    margin-bottom: 5px;
}

.coindrop {
    max-width: 50%;
}

.coinamount {
    max-width: 50%;
}