.navbar .container-fluid > .navbar-header {
    float: left;
    margin-right: 10px;
}

.navbar .navbar-nav {
    float: left;
    margin: 5px;
}

.nav > li {
    float: left;
}

body#indexBody {
  background-image: url("../img/bitcoin.jpg");
  background-size: cover;
}

img#logo {
    max-height: 66px;
    max-width: 66px;
}

a.navbar-brand {
    max-height: 66px;
    max-width: 66px;
}