.navbar .container-fluid > .navbar-header {
    float: left;
    margin-right: 10px;
}

.navbar .navbar-nav {
    float: left;
    margin: 5px;
}

.nav > li {
    float: left;
}

body#indexBody {
  background-image: url("../img/bitcoin.jpg");
}

img#logo {
    max-height: 50px;
    max-width: 50px;
}